a {
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}
body{
  font-family: $primary-font;
  line-height: 1;
  color: $title-color;
  font-size: 1.4rem;
}
.text{
  font-size: 1.5rem;
  font-family: $secondary-font;
  font-style: italic;
  color: $text-color;
}
.text--light{
  font-weight: 200;
}
.text--normal{
  font-style: normal;
}
input,
button{
  font-size: 1.5rem;
  font-family: $secondary-font;
  outline: none;
}
button{
  cursor: pointer;
}