footer.footer
  .container
    .footer-top
      .footer-column
        a.footer-heading.footer-heading--logo(href="index.html") MoGo
        p.footer-desc.text.text--normal Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, sint ducimus tempora cumque id ipsam tenetur repudiandae. Aspernatur, quae numquam. Nulla, ipsa adipisci! Non veritatis, pariatur aliquam animi sequi cum!
        p.footer-follower <strong>15k</strong> followers
        .footer-social
          span.text.text--light Follow Us:
          .footer-social-list
            +footerSocialItem("#","fab fa-facebook")
            +footerSocialItem("#","fab fa-twitter")
            +footerSocialItem("#","fab fa-instagram")
            +footerSocialItem("#","fab fa-pinterest")
            +footerSocialItem("#","fab fa-youtube")
            +footerSocialItem("#","fab fa-dribbble")
            +footerSocialItem("#","fab fa-tumblr")
            +footerSocialItem("#","fab fa-google-plus")
        form.footer-form(action= "javascript:void(0)")
          input(type="email" placeholder="Your Email").footer-form-input
          button.footer-form-button Subscribe
      .footer-column
        h3.footer-heading Blogs
        .footer-blog
          +footerBlogItem("#", "images/img-blogs1.png")
          +footerBlogItem("#", "images/img-blogs2.png")
          +footerBlogItem("#", "images/img-blogs3.png")
      .footer-column
        h3.footer-heading Instagram
        .footer-images
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
            img(src= "images/img-instagram1.png").footer-image
        a(href= "#").footer-image-mores View more photos
    .footer-bottom &copy; 2016 Mogo free PSD template by <span> Laaqiq</span> 