section.people
  .container
    +blockBox("Happy Client","What People Say")
    .people-list
      +peopleItem("images/img-people1.png","Matthre Dix","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +peopleItem("images/img-people2.png","Nick Karvounis","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +peopleItem("images/img-people3.png","Jaelyn Castillo","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +peopleItem("images/img-people4.png","Mike Pettrucci","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")