section.service
  .container
    +blockBox("We work with","Amazing Service")
    .service-container
      .service-list
        +serviceItem("images/img-service-icon1.png","Photography","sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("images/img-service-icon2.png","Web Design","sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("images/img-service-icon3.png","Creativity","sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      .service-list
        +serviceItem("images/img-service-icon4.png","Seo","sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("images/img-service-icon5.png","CSS/HTML","sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("images/img-service-icon6.png","Digital","sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
