section.story
  .container
    +blockBox("Our stories", "Latest Blog")
    ul.story-list
      +storyItem
      +storyItem("images/img-blog2.png", "14", "Jan", "Lorem ipsum dolor sit amet, consectetur adipisicing elit", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "992", "42")
      +storyItem("images/img-blog3.png", "12", "Jan", "Lorem ipsum dolor sit amet, consectetur adipisicing elit", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "1560", "98")

section.map
  .container
    .map-container
      img.map-image(src= "images/img-map-icon.png")
      span.map-text Open Map