section.team
  .container
    +blockBox("Who we are","Meet Our Team","Lorem ipsum dolor Lorem ipsum dolor sit amet, consLorem ipsum dolor sit amet, consLorem ipsum dolor sit amet, consLorem ipsum dolor sit amet, conssit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .team-list
      +teamItem("images/img-team1.png","Matthew Dix","Graphic Design")
        +teamSocial("hoangvo.com")
      +teamItem("images/img-team2.png","Chrisopher cambell","Branding/UX Team")
        +teamSocial("hoangvo.vn")
      +teamItem("images/img-team3.png","Micheal Pertig","Developer")
        +teamSocial("hoangvo.net")
section.brand
  .container
    img(src="images/img-logos.png")