section.work
  .container
    +blockBox("What we do","Some of our work","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquant ut labore et dolore magna aliquant ut labore et dolore magna aliquant ut labore et dolore magna aliqua.")
  .work-grid
    +workItem("images/img-work1.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
    +workItem("images/img-work2.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
    +workItem("images/img-work3.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
    +workItem("images/img-work4.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
    +workItem("images/img-work5.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ", "work-item--full")
    +workItem("images/img-work6.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
    +workItem("images/img-work7.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
  //- .work-list
  //-   .work-column
  //-     +workItem("images/img-work1.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
  //-     +workItem("images/img-work2.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
  //-   .work-column
  //-     +workItem("images/img-work3.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
  //-     +workItem("images/img-work4.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
  //-   .work-column
  //-     +workItem("images/img-work5.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ", "work-item--full")
  //-   .work-column
  //-     +workItem("images/img-work6.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
  //-     +workItem("images/img-work7.png","images/img-work-icon.png","Creatively Designed","Lorem ipsum dolor sit amet, ")
