.about{
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;
  // &-list{
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -3rem;
  // }
  //&-item{
    // width: calc(100% / 3 - 3rem);
    // margin-left: 3rem;
  //}
  &-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3rem;
    text-align: center;
    line-height: 1.4;
  }
  &-item:after{
    content: "";
    position: absolute;
    @include absoluteFull();
    @include bg($third-color);
    z-index: -5;
  }
  // &-list{
  //   display: grid;
  //   grid-template-columns: repeat(3,1fr);
  //   grid-column-gap: 30px;
  // }
  &-content{
    color: white;
    text-align: center;
    padding: 2rem;
  }
  &-title{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    @include textClamp(2);
  }
  @include maxWidth(479px){
    padding-top: 5rem;
    padding-bottom: 6rem;
    &-list{
      @include touchSlider();
    }
  }
}
@include hoverEffect(".about-item",".about-content");