.number{
  background-color: $third-color;
  color: white;
  &-list{
    display: flex;
  }
  &-item{
    width: 20%;
    text-align: center;
    padding: 8.5rem 3.5rem;
    border-left: 1px solid white;
  }
  &-item:last-child{
    border-right: 1px solid white;
  }
  &-item-count{
    font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &-item-text{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.4;
  }
  @include maxWidth(1023px){
    &-item{
      padding: 5rem 2rem;
      &-text{
        font-size: 0.9rem;
      }
      &-count{
        font-size: 5rem;
      }
    }
  }
  @include maxWidth(767px){
    &-list{
      display: block;
    }
    &-item{
      width: 100%;
      text-align: center;
      padding: 2.5rem 1.5rem;
      border-bottom: 1px solid white;
    }
    &-item:last-child{
      border-bottom: 1px solid white;
    }
    &-item:not(:nth-child(999)){
      border-right: 0;
      border-left: 0;
    }
  }
}